*{
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aqua;
}

h2{
    text-align: center;
    font-size: 36px;
    margin: 30px;
}

.limits {
    width: 770px;
    padding: 35px;
    background: black;
    color: white;
    border-radius: 10px;  
};

.paragraphs p {
    font-size: 25px;
    text-align: justify;
    letter-spacing: 1px;
}

.typing-text p span {
    position: relative;
  }

.container .data {
   margin-top: 17px;
   display: flex;
   padding: 12px 0;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #bfbfbf;
   line-break: auto;
  }

.data .scores {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   width: calc(100% - 140px);
   justify-content: space-between;
  }

  .scores li{
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
  }

  .scores li span{
    display: block;
    margin-left: 10px;
    
  }

  .remake{
    border: none;
    width: 105px;
    color: #fff;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    background:grey;
    margin:15px;
}



  